<div><%= @user.username %> 様</div>

<p>以下URLをクリックしてパスワードをリセットしてください。</p>

<% 
host = Rails.env.production? ? "https://doit-app.com" : "http://localhost:8080"
password_resets_url = host + "/password_resets/" + @user.reset_token + "/edit?email=" + @user.email 
%>
<%= link_to("パスワード再設定", password_resets_url) %>

<p>リンクの有効期間は2時間です。</p>

<p>このメールに心当たりがない場合、何も行わずにこのメールを破棄してください。</p>