<% 
@title = 'ルーティーンの編集'
set_meta_tags title: @title
provide(:button_text, "ルーティーンを更新")
%>

<%= render "shared/sidebar_left" %>
<div class="todo__main-col">
  <div class="page__title-box">
    <div class="page__title"><%= @title %></div>
  </div>
  <%= render "form" %>
</div>