<% 
@title = 'ルーティーンの追加'
set_meta_tags title: @title
provide(:button_text, @title)
%>

<%= render "shared/sidebar_left" %>
<div class="content">
  <div><%= @title %></div>
  <%= render "form" %>
</div>