/.bundle
/vendor/bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
!/storage/.keep
.byebug_history
/config/master.key
/config/credentials.yml.enc
.ruby-version
.env
/public/uploads
/public/user_icons/user_*.*
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*