<h1>パスワード再設定</h1>

<p>パスワードの再設定をご希望の場合は、以下URLをクリックして新しいパスワードをご登録ください。</p>

<%= link_to "パスワード再設定", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>パスワード再設定リンクの有効期間は2時間です。</p>

<p>このメールに心当たりがない場合、何も行わずにこのメールを破棄してください。</p>