<h3><%= @user.username %> 様</h3>

<p>以下URLをクリックしてパスワードをリセットしてください。</p>

<%= link_to "パスワード再設定", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>リンクの有効期間は2時間です。</p>

<p>このメールに心当たりがない場合、何も行わずにこのメールを破棄してください。</p>