<aside id="sidebar-right" class="sidebar-right">
  <p class="sidebar-right__title">作成済みのToDo</p>
  <ul class="sidebar-right__list">
    <li class="sidebar-right__item">掃除をする</li>
    <li class="sidebar-right__item">洗濯をする</li>
    <li class="sidebar-right__item">Railsを勉強する</li>
  </ul>
</aside>