<aside id="sidebar-left" class="sidebar-left">
  <ul class="sidebar-left__list">
    <li class="sidebar-left__item">
      <%= link_to "ToDoリスト", index_path(@today) %>
    </li>
    <li class="sidebar-left__item">進捗を確認する</li>
    <li class="sidebar-left__item">テキストテキスト</li>
  </ul>
</aside>