@mixin loadingCase($width:600px,
                    $spWidth:100%,
                    $height:350px,
                    $spHeight:200px) {
  width: $width;
  height: $height;
  @media (max-width: 991px) {
    width: $spWidth;
    height: $spHeight;
  }
}