$color-main-theme: #2abcdc;
$color-base-font: #333;
$color-red: #e12323;
$slide-menu-bg-color: #fafbfc;

$border-color: #e8e8e8;
$font-color-light: #999;

$box-shadow-common: 0 0 20px rgba(0,0,0,.06) !important;

$width-slide-menu: 250px;