@import "variables";
@import "extend";

.btn {
  @extend %link;
  border: none;
  border-radius: 0;
  transition-duration: .3s;

  &--sm {
    height: 45px;
    line-height: 45px;
    padding: 0 3em;
  }

  &--md {
    height: 50px;
    line-height: 50px;
    padding: 0 4em;
    font-size: 1.1em;

    @media (max-width: 767px) {
      font-size: 1em;
    }
  }

  &--blue {
    color: #fff !important;
    background-color: $color-main-theme;
    outline: 2px solid $color-main-theme;
    
    &:hover {
      color: $color-main-theme !important;
      background-color: #fff;
    }
  }

  &--gray {
    color: #999;
    background-color: #dfdfdf;
    outline: 2px solid #dfdfdf;

    &:hover {
      background-color: #fff;
      outline-color: #999;
    }
  }

  &--main {
    color: #fff !important;
    background: linear-gradient(135deg, rgb(37, 227, 241) 0%,#7a4aec 100%);
    border-radius: 100px;
    position: relative;
  
    &:hover {
      opacity: .8;
    }
  
    &__icon {
      svg {
        font-size: 16px;
        margin-right: 5px;
        color: $color-main-theme;
      }
    }
  }

  // &--outlined {
    // border: 1px solid $color-main-theme;
    // background-color: #fff;
    // border-radius: 5px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // transition-duration: 0.2s;
    // color: $color-main-theme;
  // }
}