.field_with_errors {
  display: inline;
  padding: 0;
  label {
    color: #cc0000;
  }
  input {
    background-color: #ffcccc;
  }
}
.error-message {
  color: #cc0000;
  font-size: 12px;
  padding: 5px 0 0;
  position: absolute;
}

.error {
  text-align: center;

  &__icon {
    font-size: 30px;
    color: #ccc;
    position: relative;
    top: -20px;
  }
  &__text {
    font-size: 1.2em;
    margin-bottom: 1.5em;
  }
  &__btn {
    margin: 0;
  }
}
