@import "variables";
@import "extend";

.form {
  &__label {
    margin-bottom: 0.3em;
    font-weight: bold;
    font-size: 0.9em;
  }

  &__input,
  &__select {
    @extend %form-input;
    padding: 0.375em 0.75em;
  }

  &__input {
    &:read-only {
      background-color: #f0f0f0;
      color: #999;
    }

    &--email {
      margin-bottom: 0.5em;
    }
  }

  &__error {
    color: red;
    font-size: 0.8em;
    display: block;
    margin-top: 0.3em;

    &--base {
      margin-bottom: 1em;
    }
  }
}

.user-form {
  background-color: #fff;
  padding: 30px 40px 40px;
  box-shadow: $box-shadow-common;

  @media (max-width: 991px) {
    padding: 30px 15px;
  }

  .form {
    &__group {
      &:not(:last-of-type) {
        margin-bottom: 1.4em;
      }
    }

    &__label {
      display: block;
    }

    &__desc {
      font-size: 0.8em;
      margin: 1em 0 .5em;
    }

    &__notice {
      background-color: #fff;
      padding: 4px 12px 5px;
      font-size: 0.9em;
      border: 1px solid #ccd0d4;
      border-left: 4px solid $color-main-theme;

      code {
        margin-right: 0.3em;
        background-color: #f0f0f0;
        padding: 0.2em;
      }
    }

    &__profile-box {
      margin-top: 0.6em;
      display: flex;
      align-items: center;

      @media (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }

      .profile-img {
        width: 100px;
        margin-right: 30px;

        @media (max-width: 991px) {
          width: 70px;
          margin: 0 0 15px;
        }
      }
    }

    &__profile-default {
      margin-top: 1.5em;
    }

    &__action {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 2em;

      @media (max-width: 991px) {
        margin-top: 30px;
      }
    }

    &__cancel {
      color: rgb(205, 51, 51);
      text-decoration: underline;

      @media (max-width: 991px) {
        margin-right: 10px;
      }

      &--disabled {
        cursor: default;
      }
    }
  }

  .sns-icon {
    width: 30px;
    height: 30px;
  }
}

.login {
  width: 100%;

  @media (max-width: 991px) {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .form__group {
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
    }
  }
  
  &__case {
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px 35px 60px;

    @media (max-width: 991px) {
      width: 100%;
    }
    @media (max-width: 424px) {
      padding: 30px 20px 40px;
    }
  }

  &__inner {
    width: 400px;
    margin: 0 auto;

    @media (max-width: 991px) {
      width: 100%;
    }
  }

  &__title {
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
    color: $color-main-theme;

    @media (max-width: 991px) {
      font-size: 1.4em;
      margin-bottom: 15px;
    }
  }

  .form {
    &__group {
      &:not(:last-of-type) {
        margin-bottom: 1em;
        
        @media (max-width: 991px) {
          margin-bottom: 0.7em;
        }
      }
    }

    &__reset-link {
      display: inline-block;
      margin-top: 5px;
      color: $color-main-theme;
      text-decoration: underline;
    }

    &__linkList {
      list-style-type: none;
      text-align: center;
      padding-left: 0;

      &--login {
        margin-bottom: 2em;
      }
    }

    &__linkItem {
      &:not(:last-of-type) {
        margin-bottom: .8em;
      }
    }

    &__link {
      &--default {
        color: $color-main-theme;
        text-decoration: underline;
      }
    }
  }

  .btn--main {
    margin: 1em 0 1.5em;
    display: inline-block;
  }
}
