@import "extend";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: block !important;

  .form__group {
    margin-bottom: 1.2em;
    display: flex;
    align-items: center;

    @media (max-width: 991px) {
      margin-bottom: 1em;
    }

    &--end-day {
      margin-bottom: 3em;
    }
  }

  .form__label {
    white-space: nowrap;
    margin: 0;

    &--with-error {
      position: relative;
      top: -12px;
    }

    &--required {
      color: rgb(223, 63, 63);
      margin-left: 4px;
      position: relative;
      top: -4px;
    }
  }

  &__layer {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__box {
    background-color: #fff;
    border-radius: 5px;
    padding: 55px 35px 45px;
    position: relative;
    top: -5%;
    width: 85%;
    max-width: 500px;

    @media (max-width: 991px) {
      width: calc(100% - 20px);
      top: 0;
      padding: 50px 20px 30px;
    }

    .fa-case {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .btn-case {
    margin-top: 2.4em;
    text-align: center;
    display: flex;
    justify-content: center;

    .btn {
      min-width: 150px;

      @media (max-width: 374px) {
        min-width: auto;
        width: 100%;
      }
    }

    .btn--gray {
      margin-right: .5em;
    }
  }
}
