@import "color";
@import "extend";

.nav {
  &__list {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  &__item {
    list-style-type: none;

    &:not(:last-child) {
      border-bottom: 1px dotted $border-color;
    }
  }
  &__link {
    @extend %link;
    display: flex;
    padding: 17px 0;
  }
  &__icon {
    width: 30px;
    margin-right: 12px;

    & > * {
      width: 20px;
      font-size: 18px;
    }
  }
}
