@import "variables";
@import "extend";

.sns-link {
  &__table {
    margin-top: 0.5em;
    margin-bottom: 1em;

    td {
      padding: 10px 30px 10px 0;
    }
  }

  &__cancel {
    margin-left: 1em;
  }
}

.sns-icon {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition-duration: 0.3s;

  &--facebook {
    background-color: #0c86ee;
  }
  &--twitter {
    background-color: #1ea2f1;
  }
  &--google {
    background-color: #e34134;
  }
}

.sns-login {
  &__title {
    font-size: 0.8em;
    text-align: center;
    color: #aaa;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  &__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
    justify-content: center;
  }

  &__item {
    &:not(:last-of-type) {
      margin-right: 25px;
    }
  }

  .sns-icon {
    width: 40px;
    height: 40px;
    font-size: 1.1em;

    &:hover {
      color: #fff;
      transform: scale(1.1);
      opacity: 0.9;
    }
  }
}
