<li class="list__item">
  <div class="list__block">
    <span class="label" style="background-color: #<%= label.color %>;"><%= label.title %></span>
  </div>
  <div class="list__block item-action">
    <span class="item-action__text">8個のToDoで使用されています</span>
    <%= link_to [ :edit, label ], class: "item-action__btn" do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to label, method: :delete, class: "item-action__btn", data: { confirm: "本当に削除しますか？" } do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </div>
</li>