<li class="list__item">
  <div class="list__block list__block--left">
    <span class="label" style="background-color: #<%= label.color %>;"><%= label.title %></span>
  </div>
  <div class="list__block list__block--right">
    <div class="label-in-use"><%= Todo.where(label_id: label.id).count %>個のToDoで使用中</div>
    <div class="item-action">
      <a class="item-action__btn modal-trigger">
        <i class="fas fa-pencil-alt"></i>
      </a>
      <%= link_to label, method: :delete, class: "item-action__btn", data: { confirm: "本当に削除しますか？" } do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </div>
  </div>
</li>