<% 
@title = 'ラベルの管理'
set_meta_tags title: @title
%>

<%= render 'shared/sidebar_left' %>
<div class="content">
  <%# <div id="app"></div> %>
  <div class="headline">
    <div class="headline__title">
      ラベルの管理
      <span class="icon headline__icon">
        <i class="fas fa-tag"></i>
      </span>
    </div>
    <p class="headline__text">
      ラベルを追加することでToDoを分類することができます。
    </p>
    <div class="page-action headline__page-action">
      <a class="page-action__btn btn-outlined btn--sm">
        <span class="page-action__icon">
          <i class="fas fa-plus"></i>
        </span>
        <span class="page-action__text">新規追加</span>
      </a>
    </div>
  </div>
  <% if current_user.labels.any? %>
    <ul class="list">
    <% @labels.each do |label| %>
      <%= render label %>
    <% end %>
    </ul>
  <% else %>
    <div class="sub__no-result no-result">
      <div class="no-result__illustration">
        <img
          src="/illustrations/il-mindmap.png"
          alt="目標達成のイラスト"
        />
      </div>
    </div>
  <% end %>
</div>