<% 
@title = 'ユーザー情報の編集'
set_meta_tags title: @title
provide(:button_text, "更新する") 
%>

<%= render "shared/sidebar_left" %>
<div class="content">
  <h2><%= @title %></h2>
  <%= render "form" %>
  <%= link_to "退会する", user_path, method: :delete, data: { confirm: "アカウントを削除してよろしいですか？" }, class: "#{disable_for_guest}" %>
</div>