<% @title = "ユーザ編集" %>
<% provide(:button_text, "更新する") %>

<div class="container d-flex justify-content-center">
  <%= render "shared/sidebar_left" %>
  <div class="task__main-col">
    <div class="page__title-box">
      <h2 class="page__title"><%= @title %></h2>
    </div>
    <%= render "form" %>
  </div>
  <%= render "shared/sidebar_right" %>
</div>