<% @title = "ユーザ新規登録" %>
<% provide(:button_text, "登録する") %>

<div class="container">
  <div class="login__case">
      <div class="page__title-box">
        <h2 class="page__title"><%= @title %></h2>
      </div>
      <div class="login__form">
        <%= render "form" %>
        <div class="action__case">
          <p class="action__to-signup">アカウントをお持ちの方は<%= link_to "ログイン", login_path %></p>
        </div>
      </div>
  </div>
</div>