<header class="header">
  <div class="container header__inner">
    <% if logged_in? %>
      <a href="/" class="header__logo">
      <%#= link_to root_path(@today), class: "header__logo" do %>
        <img src="/doit-logo-white.png" alt="DoITロゴ">
      <%# end %>
      </a>
      <div id="hamburger" class="hamburger">
        <span class="hamburger__line"></span>
        <span class="hamburger__line"></span>
        <span class="hamburger__line"></span>
      </div>
    <% else %>
      <%= link_to login_path, class: "header__logo" do %>
        <img src="/doit-logo-white.png" alt="DoITロゴ">
      <% end %>
    <% end %>
  </div>
</header>