<aside id="sidebar-right" class="sidebar-right">
  <% if @path.is("tops#index") %>
    <section id="shortcut-links">
      <p class="sidebar-right__title">ショートカット
        <% if !@shortcuts.empty? %>
          <%= link_to "編集", shortcuts_path, class: "sidebar-right__title-link" %>
        <% else %>
          <%= link_to "登録", new_shortcut_path, class: "sidebar-right__title-link" %>
        <% end %>
      </p>
      <% if !@shortcuts.empty? %>
        <ul class="sidebar-right__list">
          <% @shortcuts.each do |shortcut| %>
            <li class="sidebar-right__item">
              <%= shortcut.title %>
              <%= link_to(shortcut_create_todo_path(get_url_date, shortcut.id), method: :post) do %>
                <i class="fa fa-plus-circle"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>ショートカットは未作成です</p>
      <% end %>
    </section>
  <% end %>
</aside>