<aside id="sidebar-right" class="sidebar-right">
  <% if @path.is("tasks#index") %>
    <section id="shortcut-links">
      <p class="sidebar-right__title">ショートカット</p>
      <% if @shortcuts %>
        <ul class="sidebar-right__list">
          <% @shortcuts.each do |shortcut| %>
            <li class="sidebar-right__item">
              <%= shortcut.title %>
              <%= link_to(tasks_path(task: { title: shortcut.title, body: shortcut.body, date_id: get_url_date }), method: :post) do %>
                <i class="fa fa-plus-circle"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
        <%= link_to "ショートカットを編集", shortcuts_path, class: "float-right btn btn-outline-info btn-sm" %>
      <% else %>
        <%= link_to "ショートカットを追加", new_shortcut_path, class: "float-right btn btn-outline-info btn-sm" %>
      <% end %>
    </section>
  <% end %>
</aside>