<aside id="sidebar-left" class="sidebar-left">
  <ul class="sidebar-left__list">
    <li class="sidebar-left__item">
      <%= link_to "今日のTodo", index_path(@today) %>
    </li>
    <li class="sidebar-left__item">
      <%= link_to "ルーティーン", routines_path %>
    </li>
    <li class="sidebar-left__item">
      <%= link_to "ショートカット", shortcuts_path %>
    </li>
    <li class="sidebar-left__item">
      <%= link_to "達成度を確認", history_path(set_this_month) %>
    </li>
  </ul>
</aside>