<aside class="sidebar-right">
  <% if @path.is("home#index") %>
    <section>
      <div>ショートカット
        <% if @shortcuts.present? %>
          <%= link_to "編集", shortcuts_path %>
        <% else %>
          <%= link_to "登録", shortcuts_path %>
        <% end %>
      </div>
      <% if @shortcuts.present? %>
        <ul>
          <% @shortcuts.each do |shortcut| %>
            <li>
              <%= shortcut.title %>
              <%= link_to(shortcut_create_todo_path(get_url_date, shortcut.id), method: :post) do %>
                <i class="fa fa-plus-circle"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>ショートカットは未作成です</p>
      <% end %>
    </section>
  <% end %>
</aside>