<%= form_with(model: @shortcut, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group row">
    <div class="col-sm-12">
      <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>
    </div>
  </div>
  <div class="text-center">
    <%= f.submit yield(:button_text), class: "btn btn-info mt-4" %>
  </div>
<% end %>