<% 
@title = 'ショートカットの管理'
set_meta_tags title: @title
%>

<%= render 'shared/sidebar_left' %>
<div class="content">
  <h2><%= @title %></h2>
  <div id="app">
    <shortcut-home></shortcut-home>
  </div>
</div>

<%= javascript_pack_tag 'main' %>