<% @title = "ショートカットを追加" %>
<% provide(:button_text, "ショートカットを追加") %>

<div class="container d-flex justify-content-between">
  <%= render "shared/sidebar_left" %>
  <div class="todo__main-col">
    <div class="page__title-box">
      <h2 class="page__title"><%= @title %></h2>
    </div>
    <%= render "form" %>
  </div>
  <%= render "shared/sidebar_right" %>
</div>