<div id="app" class="wrapper">
  <v-header></v-header>
  <slide-menu></slide-menu>
  <v-flash></v-flash>
  <main>
    <router-view></router-view>
  </main>
  <v-footer></v-footer>
</div>

<%= javascript_pack_tag 'main' %>