<div id="app" class="wrapper">
  <v-header></v-header>
  <v-slide-menu></v-slide-menu>
  <main>
    <v-flash></v-flash>
    <div class="container inner">
      <v-sidebar-left></v-sidebar-left>
      <router-view></router-view>
      <v-sidebar-right></v-sidebar-right>
    </div>
  </main>
  <v-footer></v-footer>
</div>

<%= javascript_pack_tag 'main' %>