<% 
@title = "不正な要求です"
set_meta_tags title: @title
%>

<%= render "shared/sidebar_left" %>
<div class="content">
  <div class="headline">
    <div class="headline__title">
      400 Bad Request
      <span class="icon headline__icon">
        <i class="fas fa-ban"></i>
      </span>
    </div>
    <div class="headline__text">
    不正な要求です。
    </div>
  </div>
  <div class="no-result no-result">
    <div class="no-result__illustration">
      <img
        src="/illustrations/il-bad-request.png"
        alt="400エラーのイラスト"
      />
    </div>
  </div>
</div>