@import "~bootstrap/scss/bootstrap";

.error {
  text-align: center;

  &__icon {
    font-size: 30px;
    color: #ccc;
    position: relative;
    top: -20px;
  }
  &__text {
    font-size: 1.2em;
    margin-bottom: 1.5em;
  }
  &__btn {
    margin: 0;
  }
}
