@import "color";
@import "extend";

.btn-outlined {
  @extend %link;
  border: 1px solid $color-main-theme;
  color: $color-main-theme;
  background-color: #fff;
  border-radius: 5px;

  &:hover {
    background-color: $color-main-theme;
    color: #fff;

    * {
      color: #fff;
    }
  }

  &__icon {
    svg {
      font-size: 16px;
      margin-right: 5px;
      color: $color-main-theme;
    }
  }
}
