<% 
@title = 'ToDoを編集'
set_meta_tags title: @title
provide(:button_text, "ToDoを更新") 
%>

<%= render "shared/sidebar_left" %>
<div>
  <h2><%= @title %></h2>
  <%= render "form" %>
</div>
<%= render "shared/sidebar_right" %>