<% 
@title = 'ToDoを追加'
set_meta_tags title: @title
provide(:button_text, @title)
%>

<%= render "shared/sidebar_left" %>
<div>
  <div><%= @title %></div>
  <%= render "form" %>
</div>
<%= render "shared/sidebar_right" %>