$color-main-theme: #3d91be;
$color-base-font: #333;
$slide-menu-bg-color: #fafbfc;

$table-border-color: #dfdfdf;
$border-color: #e8e8e8;
$font-color-light: #999;

$box-shadow-common: 0 0 20px rgba(0,0,0,.06) !important;