@import "color";

%sidebar-display {
  @media (max-width: 991px) {
    display: none;
  }
}

%link {
  color: $color-base-font;
  transition-duration: 0.2s;

  &:hover {
    text-decoration: none;
    color: $color-base-font;
  }
}
