@import "color";

%sidebar-display {
  @media (max-width: 991px) {
    display: none;
  }
}

%link {
  transition-duration: 0.2s;
  color: $color-base-font;
  cursor: pointer;
  display: inline-block;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
