@import "color";

%section-padding {
  padding: 30px 15px;
}

%sidebar-layout {
  width: 220px;
  background-color: $color-light-gray;
}

%sidebar-display {
  @media (max-width: 767px) {
    display: none;
  }
}

%link {
  color: $color-base-font;

  &:hover {
    text-decoration: none;
    color: $color-base-font;
  }
}
