@import "color";
@import "extend";

.btn-main {
  @extend %link;
  color: #fff;
  background-color: $color-main-theme;
  border: 1px solid $color-main-theme;

  &:hover {
    background-color: #fff;
    color: $color-main-theme;
  }

  &__icon {
    svg {
      font-size: 16px;
      margin-right: 5px;
      color: $color-main-theme;
    }
  }
}
