@import "color";

.btn-slide {
  display: flex;

  &__input {
    display: none;
  }
  &__label {
    position: relative;
    width: 50px;
    height: 26px;
    border-radius: 80px;
    background: #d0d2d9;
    cursor: pointer;
    transition: 0.2s ease;
    margin: 0;
  }
  &__input:checked + &__label {
    background: $color-main-theme;
  }
  &__label:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 80px;
    width: 22px;
    height: 22px;
    background: #fff;
    transition: 0.2s ease;
  }
  &__input:checked + &__label:before {
    left: 26px;
  }
}
