@import "color";
@import "extend";

.btn-main {
  @extend %link;
  color: #fff;
  background-color: $color-main-theme;
  border: none;

  &:hover {
    position: relative;
    top: -1px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    color: #fff;
  }

  &__icon {
    svg {
      font-size: 16px;
      margin-right: 5px;
      color: $color-main-theme;
    }
  }
}
