.btn {
  &--xs {
    padding: 2px 5px;
    font-size: 0.8em;
  }

  &--sm {
    padding: 5px 15px;
    font-size: 1.1em;

    @media (max-width: 767px) {
      font-size: 1em;
    }
  }

  &--md {
    padding: 10px 30px;
    font-size: 1.2em;

    @media (max-width: 767px) {
      font-size: 1.1em;
    }
  }
}
