@media (min-width: 992px) and (max-width: 1199px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 100% !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 700px !important;
  }
}
