#error-explanation {
  border: 1px solid rgb(255, 119, 119);
  background-color: #ffeaea;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 40px;

  ul {
    padding-left: 20px;
    color: red;
    font-size: 14px;
    margin-bottom: 0;

    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

div#error {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: solid 4px #999;
  background-color: #ddd;
  text-align: center;
  p.url {
    font-family: monospace;
  }
}
