.field_with_errors {
  display: inline;
  padding: 0;
  label {
    color: #cc0000;
  }
  input {
    background-color: #ffcccc;
  }
}
.error-message {
  color: #cc0000;
  font-size: 12px;
  padding: 5px 0 0;
  position: absolute;
}
