.alert__case {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  margin: auto !important;
  display: flex;
  max-width: 400px;
  justify-content: center;
  align-items: center;

  .alert {
    padding: 5px 15px;
    font-size: 12px;
    min-width: 300px;
    text-align: center;
    margin-bottom: 0;
  }
}
