@import "color";

.form {
  &__label {
    margin-bottom: 0.4rem;
    font-weight: bold;
    font-size: 0.9rem;
  }

  &__input {
    display: block;
    width: 100%;
    max-width: 400px;
    height: 50px;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:read-only {
      background-color: #f0f0f0;
      color: #999;
    }

    &--email {
      margin-bottom: 0.5rem;
    }
  }
}
