@import "color";

.headline {
  position: relative;

  &__title {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }

  &__text {
    color: $font-color-light;
  }

  &__icon {
    margin-left: 15px;
    font-size: 1.2rem;
  }

  &__page-action {
    position: absolute;
    top: 5px;
    right: 0;
  }
}
