@import "color";

.header {
  background-color: $color-main-theme;
  text-align: center;
  position: relative;

  &__logo {
    display: block;
    margin: 0 auto;
    padding: 15px 0;

    img {
      height: 35px;
      width: auto;
    }
  }
}
