header {
  margin-bottom: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #e4e4e4;

  .navbar {
    padding: 0.7em 1em;

    .navbar-collapse {
      flex-grow: unset !important;
    }
    .nav-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .gravatar {
        width: 38px;
        border-radius: 50%;
      }
    }
  }
}
