header {
  margin-bottom: 1rem;
  background-color: #facb27;
  border-bottom: 1px solid #e4e4e4;

  .navbar {
    padding: 0.5em 1em;

    &-brand img {
      height: 30px;
    }

    &-collapse {
      flex-grow: unset !important;
    }
    .nav-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .gravatar {
        width: 35px;
        border-radius: 50%;
      }
    }
  }
}
