@import "color";
@import "extend";

.horizontal-arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__btn {
    @extend %link;
    border: 1px solid $color-main-theme;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;

    &:hover {
      background-color: $color-main-theme;

      svg {
        color: #fff;
      }
    }

    & > * {
      position: relative;
      color: $color-main-theme;
    }

    &--left {
      svg {
        left: -1px;
      }
    }

    &--right {
      svg {
        right: -1px;
      }
    }
  }
}
