@import "color";
@import "extend";

.index-shortcut {
  margin-top: 80px;

  @media (max-width: 767px) {
    margin-top: 50px;
  }

  &__field {
    padding: 20px;
    background-color: #fff;
    text-align: center;

    @media (max-width: 767px) {
      padding: 10px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
  }

  &__title {
    font-size: 0.9em;
    font-weight: bold;
  }

  &__edit {
    text-decoration: underline;
    color: $color-main-theme;
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  &__item {
    background-color: #fff;
    border-radius: 100px;
    margin: 5px;
  }

  &__link {
    @extend %link;
    color: $color-base-font;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    background-color: #eee;
  }

  &__no-result {
    padding: 20px 0 30px;
  }

  &__text {
    margin-bottom: 30px;
  }
}
