@import "color";

.item-action {
  &__btn {
    color: rgb(170, 170, 170);
    font-size: 20px;
    transition-duration: 0.2s;
    cursor: pointer;

    &:hover {
      color: $color-main-theme;
    }

    &:not(:last-of-type) {
      margin-right: 35px;
    }
  }

  &__text {
    font-size: 0.8rem;
    margin-right: 70px;
    color: #555;
  }
}
