@import "color";

.list {
  padding: 0;
  margin-bottom: 30px;

  &__item {
    padding: 24px 30px 24px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;

    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }
  }

  &__block {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 1.1rem;
  }
}
