@import "color";

.login {
  width: 600px;
  margin: 30px auto;
  background-color: #fff;
  padding: 50px 35px 70px;

  &__inner {
    width: 400px;
    margin: 0 auto;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
    color: $color-main-theme;
  }

  .form {
    &__group {
      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }
    }

    &__reset-link {
      display: inline-block;
      margin-top: 5px;
      color: $color-main-theme;
      text-decoration: underline;
      font-size: 0.9rem;
    }

    &__linkList {
      list-style-type: none;
      text-align: center;
      padding-left: 0;
      font-size: 0.9rem;

      &--login {
        margin-bottom: 2rem;
      }

      &--password-reset {
        margin-top: 2rem;
      }
    }

    &__linkItem {
      &:not(:last-of-type) {
        margin-bottom: 0.6rem;
      }
    }

    &__link {
      &--default {
        color: $color-main-theme;
        text-decoration: underline;
      }
    }
  }

  .btn-main {
    &--login {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }

    &--signup {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }

    &--password-reset {
      margin-top: 1.5rem;
    }
  }

  .sns-icon {
    width: 50px;
    height: 50px;

    &:hover {
      color: #fff;
      transform: scale(1.1);
      opacity: 0.9;
    }
  }
}
