@import "extend";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: #555 !important;
  position: relative;
  font-size: 1.4rem;
  font-family: -apple-system, "Segoe UI", "Helvetica Neue",
    "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
}

main {
  position: relative;
  background-color: #f4f6f6;
  flex: 1;
}

.wrapper {
  display: flex !important;
  justify-content: space-between;
  padding: 40px 0 100px;

  @media (max-width: 991px) {
    flex-direction: column;
  }
}

.content {
  flex: 1;

  @media (min-width: 992px) {
    margin-left: 30px;
  }
}

img {
  width: 100%;
}
