.shortcut {
  &__page-action {
    position: absolute;
    top: 5px;
    right: 0;
  }

  &__no-result {
    .no-result__illustration {
      margin-top: 100px;
      margin-left: 120px;

      @media (max-width: 991px) {
        margin: 100px auto;
      }
    }
  }
}
