@import "extend";

.sidebar-left {
  @extend %sidebar-display;
  width: 250px;
  background-color: #fff;
  padding: 25px 22px 10px;
  box-shadow: $box-shadow-common;

  &__userinfo {
    margin-bottom: 15px;
  }
}
