@import "color";
@import "extend";

.sns-link {
  &__table {
    margin-top: 0.5em;
    margin-bottom: 1em;

    td {
      padding: 10px 30px 10px 0;
    }
  }

  &__cancel {
    margin-left: 1em;
  }
}
