@import "color";

.todo-info {
  box-shadow: $box-shadow-common;
  background-color: #fff;
  padding: 15px;

  &__title {
    font-weight: bold;
  }

  &__list {
    padding: 0;
    list-style-type: none;
    margin: 0;
  }

  &__item {
    padding: 15px 0;
    
    &:not(:last-child) {
      border-bottom: 1px dotted $border-color;
    }
  }

  &__label {
    margin-left: 0 !important;
  }

  &__itemTitle {
    color: #999;
    display: block;
    margin-bottom: 2px;
  }
}
