@import "color";
@import "extend";

.todo {
  .horizontal-arrows {
    margin-bottom: 30px;

    .horizontal-arrows__btn {
      width: 30px;
      height: 30px;
    }
  }

  &__date-box {
    text-align: center;
  }

  &__date-title {
    font-size: 26px;
    margin-bottom: 0.1em;
  }

  &__date-day {
    margin: 0;
    font-size: 0.8rem;
  }

  &__page-action {
    text-align: center;
  }

  &__no-result {
    margin-bottom: 40px;
    margin-top: 60px;
    text-align: center;

    .no-result__text {
      margin-bottom: 30px;
      font-size: 18px;
      color: #999999;
    }

    .no-result__illustration {
      margin: 0 auto 10px;
    }
  }
}
