@import "extend";

.userinfo {
  display: flex;
  align-items: center;

  &__profile-icon {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__username {
    @extend %link;
  }
}
