@import "extend";

.userinfo {
  display: flex;
  align-items: center;

  .profile-img {
    width: 45px;
    margin-right: 10px;
  }

  &__link {
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  &__username {
    @extend %link;
  }
}
