@import "variables";

.headline {
  margin-bottom: 30px;
  position: relative;

  @media (max-width: 991px) {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 1.6em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    @media (max-width: 991px) {
      font-size: 1.2em;
    }
  }

  &__text {
    color: $font-color-light;
  }

  &__icon {
    margin-left: 12px;

    @media (max-width: 991px) {
      margin-left: 8px;
    }

    & > * {
      font-size: 0.8em;
    }
  }

  &__page-action {
    position: absolute;
    top: 5px;
    right: 0;

    @media (max-width: 991px) {
      position: static;
      text-align: right;
    }
  }
}
